/* src/index.css */
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

/* تنظیمات تم */
@plugin "daisyui/theme" {
  name: "light";
  default: true;    
  color-scheme: light;
  --color-primary: #5A108F;
  --color-primary-content: #ffffff;
  --color-secondary: #3C0663;
  --color-secondary-content: #BEE3BF;
  --color-accent: lightgray ;
  --color-accent-content: #164A41;
  --color-neutral: #5A108F;
  --color-base: white;
  --color-neutral-content: white ;
  --color-base-100: #ffffff;
  --color-base-200: #f9fafb;
  --color-base-300: #d1d5db;
  --color-info: #3ABFF8;
  --color-success: #36D399;
  --color-warning: #FBBD23;
  --color-error: #F87272;
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
}

:root {
  font-family: system-ui, -apple-system, sans-serif;
  direction: rtl; 
}

/* 🟢 فیکس اصلی: جلوگیری از فضای خالی و اسکرول افقی مزاحم */
html, body {
  width: 100%;
  overflow-x: clip; /* حذف اسکرول افقی و فضای سفید اضافه */
  margin: 0;
  padding: 0;

}

/* استایل اسکرول بار باریک و شیک */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: white;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}








/* در فایل index.css */
.drawer-side {
  transition-property: none !important; /* انیمیشن دیزی رو میکشه */
  visibility: visible !important; /* پرپر زدن رو میگیره */
  pointer-events: none;
}

.drawer-toggle:checked ~ .drawer-side {
  pointer-events: auto;
}

.drawer-side > .menu {
  transform: translateX(100%); /* پیش فرض بیرون کادر */
  transition: transform 0.2s ease-out; /* انیمیشن دستی و سبک */
}

.drawer-toggle:checked ~ .drawer-side > .menu {
  transform: translateX(0); /* ورود نرم */
}