/* src/index.css */
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

/* تنظیمات تم */
@plugin "daisyui/theme" {
  name: "light";
  default: true;    
  color-scheme: light;
  --color-primary: #164A41;
  --color-primary-content: #ffffff;
  --color-secondary: #4D774E;
  --color-secondary-content: #BEE3BF;
  --color-accent: #9DC88D;
  --color-accent-content: #164A41;
  --color-neutral: #F1B24A;
  --color-neutral-content: #3E290C;
  --color-base-100: #ffffff;
  --color-base-200: #f9fafb;
  --color-base-300: #d1d5db;
  --color-info: #3ABFF8;
  --color-success: #36D399;
  --color-warning: #FBBD23;
  --color-error: #F87272;
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
}

:root {
  font-family: system-ui, -apple-system, sans-serif;
  direction: rtl; 
}

/* 🟢 فیکس اصلی: جلوگیری از فضای خالی و اسکرول افقی مزاحم */
html, body {
  width: 100%;
  overflow-x: hidden; /* حذف اسکرول افقی و فضای سفید اضافه */
  margin: 0;
  padding: 0;
}

/* استایل اسکرول بار باریک و شیک */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}